/* General CSS */
body {
  background-color: #22232e;
  color: white;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 80%;
  margin: 50px auto;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 18px;
  opacity: 0.9;
}

/* # Neon button */

.neon-button {
  /* posizione */
  position: relative;

  /* bordi e spaziature */
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;

  /* colori */
  background-color: transparent;

  /* effetti */
  transition: 0.2s;
}

.neon-button .text {
  /* bordi e spaziature */
  padding: 15px 50px;
  border: 2px solid #00c2cb;
  border-radius: 15px;

  /* font */
  font-size: 25px;

  /* colori */
  color: #e0ffff;
  background-color: rgba(0, 70, 80, 0.1);

  /* effetti */
  backdrop-filter: blur(25px);
  cursor: pointer;
  transition: 0.2s;
}

.neon-button .neon {
  /* dimensioni */
  width: 35%;
  height: 5px;

  /* bordi */
  border-radius: 10px;

  /* posizione */
  z-index: -1;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, 0);

  /* colori */
  background-color: #00c2cb;
  box-shadow: 0 0 10px 0 rgba(0, 194, 203);

  /* effetti */
  transition: 0.2s;
}

/* # Neon Button Hover */

.neon-button:hover {
  box-shadow: 0 0 3px 0 rgba(0, 194, 203);
}

.neon-button:hover .neon {
  /* posizione */
  top: 50%;
  transform: translate(-50%, -50%);

  /* dimensioni */
  height: 60%;
  width: 60%;
}

/* # Neon Button Active */

.neon-button:active {
  box-shadow: 0 0 10px 0 rgba(0, 194, 203);
}

.neon-button:active .neon {
  /* posizione */
  top: 50%;
  transform: translate(-50%, -50%);

  /* dimensioni */
  height: 80%;
  width: 80%;
}

/* # Bouncy button */

.bouncy-button {
  /* margini e spaziature */
  margin: 0;
  padding: 0;

  /* colore */
  background-color: #004958;

  /* bordi */
  border: none;
  border-radius: 15px;
}

.bouncy-button .text {
  /* margini e spaziature */
  padding: 15px 50px;

  /* bordi */
  border-radius: 15px;

  /* font */
  font-size: 25px;

  /* colori */
  background-color: #00c2cb;
  transform: translateY(-6px);

  /* effetti */
  transition: 0.1s;
  cursor: pointer;
}

.bouncy-button:hover .text {
  transform: translateY(-8px);
}

.bouncy-button:active .text {
  transform: translateY(0);
}
